@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: rgb(16, 29, 9);
  background: -moz-linear-gradient(
    90deg,
    rgba(16, 29, 9, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(16, 29, 9, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(16, 29, 9, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(16, 29, 9, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(16, 29, 9, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%,
    rgba(16, 29, 9, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#101d09",endColorstr="#101d09",GradientType=1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
